@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*//////////////////////---->Mobile first <-----////////////////////////////////*/

/*@font-face {
    font-family: font1;
    src: url(font1.otf);
}*/

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /*font-family: 'font1', sans-serif;*/
    margin: 0px;
}

body {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "main" "article1" "article2" "article3" "article4" "article5" "article6" "footer"
}

main {
    grid-area: main;
    background: linear-gradient(to bottom right, #33ccff 23%, #3333ff 106%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    padding-bottom: 93px;
    position: relative;
}

.logo {
    font-size: 4em;
    color: white;
    background-color: black;
    width: 250px;
    padding-left: 10px
}

.prompt {
    font-size: 3.3em;
    color: white;
    background-color: black;
    width: 40px;
    height: 74px;
    position: absolute;
    top: 0px;
    left: 247px;
    padding-left: 3px;
    animation-name: prompt_tilt;
    animation-duration: 1s;
    animation-iteration-count: 5;
}

@keyframes prompt_tilt {

    0% {
        color: black
    }
    ;
    10% {
        color: white
    }
    ;
    90% {
        color: white
    }
    ;
    100% {
        color: black
    }
    ;
}

.titulo1 {
    position: absolute;
    top: 130px;
    left: 18vw;
    font-size: 2.19em;
    background-color: white;
    width: 75%;
}

.subtitulo {
    position: absolute;
    top: 170px;
    left: 18vw;
    font-size: 1.3em;
    background-color: white;
    width: 75%;
    display: none;

}

.article1 {
    grid-area: article1;
    display: none;
    background: linear-gradient(to right top, #33ccff 23%, #3333ff 106%);

}

.article2 {
    grid-area: article2;
    background: linear-gradient(to right top, #33ccff 23%, #3333ff 106%);
    height: 590px;
    position: relative;
}

.h1_1_art2 {
    background-color: #EBFF3B;
    float: right;
    padding: 5px;
}

.h2_1_art2 {
    float: right;
    background-color: #A022FF;
    padding: 5px;
}

.h3_1_art2 {
    float: left;
    background-color: white;
    padding: 5px;
    padding-left: 17px;
    position: absolute;
    top: 128px;
    width: 85%;
    opacity: 0.9;

}

.p1_1_art2 {
    float: left;
    background-color: white;
    padding: 10px;
    padding-left: 17px;
    position: absolute;
    top: 159px;
    width: 85%;
    opacity: 0.9;
}

.h3_2 {
    position: absolute;
    left: 0px;
    top: 245px;
    padding: 5px;
    padding-left: 17px;
    width: 85%;
    opacity: 0.9;
    background-color: white;
}

.p_2 {
    position: absolute;
    left: 0px;
    top: 276px;
    padding: 10px;
    padding-left: 17px;
    width: 85%;
    opacity: 0.9;
    background-color: white;
}

.h3_3 {
    position: absolute;
    left: 0px;
    top: 363px;
    padding: 5px;
    padding-left: 17px;
    width: 85%;
    opacity: 0.9;
    background-color: white;
}

.p_3 {
    position: absolute;
    left: 0px;
    top: 393px;
    padding: 10px;
    padding-left: 17px;
    width: 85%;
    opacity: 0.9;
    background-color: white;
}

.h3_4 {
    position: absolute;
    left: 0px;
    top: 462px;
    padding: 5px;
    padding-left: 17px;
    width: 85%;
    opacity: 0.9;
    background-color: white;
}

.p_4 {
    position: absolute;
    left: 0px;
    top: 494px;
    padding: 10px;
    padding-left: 17px;
    width: 85%;
    opacity: 0.9;
    background-color: white;
}

.article3 {
    grid-area: article3;
    background: linear-gradient(to bottom right, #33ccff 23%, #3333ff 106%);
    height: 370px;
    position: relative;
}
.h1_1_art3 {
    background-color: #EBFF3B;
    float: right;
    padding: 5px;
    
}

.h2_1_art3 {
    float: right;
    background-color: #A022FF;
    padding: 5px;
}
.p_1_art3{
    float: left;
    background-color: white;
    padding: 5px;
    padding-left: 17px;
    position: absolute;
    top: 78px;
    width: 85%;
    opacity: 0.9;
}
.article4 {
    grid-area: article4;
    background: linear-gradient(to top right, #33ccff 23%, #3333ff 106%);
    height: 520px;
    position: relative;
}
.p_1_art4{
    float: left;
    background-color: white;
    padding: 5px;
    padding-left: 17px;
    position: absolute;
    top: 78px;
    width: 85%;
    opacity: 0.9;
}

.article5 {
    grid-area: article5;
    background-color: lightgrey;
    height: 250px;

}

.article6 {
    grid-area: article6;
    background-color: lightgrey;
    height: 250px;

}

footer {
    grid-area: footer;
}


/*////////////////////////////////////////////////*/

@media all and (min-width:680px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "main main" "article1 article1" "article2 article2" "article3 article3" "article4 article4" "article5 article5" "article6 article6" "footer footer"
    }
    .titulo1 {
        left: 44%;
        top: 40%;
        font-size: 2.4em;
        width: 54%;
    }
    .subtitulo {
        left: 44%;
        top: 59%;
        font-size: 1.4em;
        width: 54%;
    }
    .article2{
        height: 330px;
    }
    .h1_1_art2 {
        background-color: #EBFF3B;
        float: left;
        padding: 5px;
    }
    .h2_1_art2 {
        float: left;
        background-color: #A022FF;
        padding: 5px;
        top: 38px;
        left: 69%;
    }
    .h3_1_art2 {
        top: 70px;
        width: 45%;
        left: 37px;
        float: left
    }
    .p1_1_art2 {
        top: 100px;
        width: 45%;
        opacity: 0.9;
        left: 37px;
    }

    .h3_2 {
        top: 190px;
        width: 45%;
        left: 37px;
        
    }
    .p_2 {
        top: 220px;
        width: 45%;
        left: 37px;
    }
    .h3_3 {
        width: 44%;
        top: 70px;
        left: 51%;
    }
    .p_3 {
        width: 44%;
        top: 100px;
        left: 51%;
        height: 75px
    }
    .h3_4 {
        width: 44%;
        left: 51%;
        top: 189px
    }
    .p_4 {
        width: 44%;
        left: 51%;
        top: 221px;
        height: 75px
    }
    .h1_1_art3{
        float: left;
    }
    .h2_1_art3{
        float: left;
    }
    .p_1_art3{
        width: 44%;
        top: 128px;
        left: 51%;
        float: left;
    }


    /*////////////////////////////////////////////////*/
    @media all and (min-width:1390px) {
        .subtitulo {
            display: block;
        }
        .article1 {
            display: block;
            height: 600px;
            position: relative;
        }
        .container {
            position: absolute;
            top: 0px;
            left: 280px;
            width: 250px;
            height: 290px;
            perspective: 1000px;
        }
        .hexagono {
            top: 60px;
            height: 100%;
            width: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 1s;
            left: -80px;
        }
        .item {
            display: block;
            position: absolute;
            background: #000;
            width: 200px;
            height: 370px;
            line-height: 200px;
            font-size: 5em;
            text-align: center;
            color: #FFF;
            opacity: 0.95;
            border-radius: 10px;

        }
        .a {
            transform: rotateY(0deg) translateZ(250px);
            background-image: url(assets/img/prototype.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .b {
            transform: rotateY(60deg) translateZ(250px);
            background-image: url(assets/img/thrive1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .c {
            transform: rotateY(120deg) translateZ(250px);
            background-image: url(assets/img/tintinve1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .d {
            transform: rotateY(180deg) translateZ(250px);
            background-image: url(assets/img/yojimbo1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .e {
            transform: rotateY(240deg) translateZ(250px);
            background-image: url(assets/img/tintinve_home1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .f {
            transform: rotateY(300deg) translateZ(250px);
            background-image: url(assets/img/redisign.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .next {
            left: 0px;
            top: 30px;
            width: 690px;
            height: 530px;
            position: absolute;
            cursor: pointer;
            background-color: transparent;

        }
        /*.prev {
            left: 70px;
            top: 30px;
            width: 100px;
            height: 530px;
            color: #444;
            position: absolute;
            cursor: pointer;
            background-color: transparent;
        }*/
        section {
            position: relative;
            background-color: transparent;
            width: 50%;
            height: 510px;
            float: right;
            margin-right: 3%;
            margin-top: 35px;
        }
        .mute {
            width: 250px;
            height: 250px;
            background-color: red;
            position: absolute;

        }
        .a1 {
            opacity: 1;
            width: 100%;
        }
        .vid1 {
            width: 100%;
            top: 0px;
            position: absolute;
        }
        .play_symbol {
            position: absolute;
            width: 150px;
            top: 165px;
            left: 340px;
            z-index: 5;
        }
        .a2 {
            opacity: 0;
        }
        .vid2 {
            width: 100%;
            position: absolute;
            top: 0px;
        }
        .a3 {
            opacity: 0;
        }
        .vid3 {
            width: 100%;
            top: 0px;
            position: absolute;
        }
        .a4 {
            opacity: 0;
            width: 100%;
        }
        .vid4 {
            width: 100%;
            position: absolute;
            top: 0px;
        }
        .a5 {
            opacity: 0;
            width: 100%;
        }
        .vid5 {
            width: 100%;
            position: absolute;
            top: 0px;
        }
        .a6 {
            opacity: 0;
            width: 100%;
        }
        .vid6 {
            width: 100%;
            position: absolute;
            top: 0px;
        }
        .article2{
            background: linear-gradient(to bottom right, #33ccff 23%, #3333ff 106%);
        }
    }


    /*////////////////////////////////////////////////*/
    @media all and (min-width:1580px) {
        body {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "header header header" "main main main" "article1 article1 article1" "article2 article2 article3" "article4 article4 article5" "article6 article6 article6" "footer footer footer"
        }
        .titulo1 {
            left: 1060px;
            top: 100px;
            font-size: 2.6em;
            width: 500px;
            text-align: left;
        }
        .article1 {
            height: 700px;
            position: relative
        }
        .container {
            position: absolute;
            top: -40px;
            left: 320px;
            width: 250px;
            height: 290px;
            perspective: 1000px;
        }

        .hexagono {
            top: 60px;
            height: 100%;
            width: 100%;
            position: absolute;
            transform-style: preserve-3d;
            transition: transform 1s;
        }
        .item {
            display: block;
            position: absolute;
            background: #000;
            width: 220px;
            height: 400px;
            line-height: 200px;
            font-size: 5em;
            text-align: center;
            color: #FFF;
            opacity: 0.95;
            border-radius: 10px;
        }
        .a {
            transform: rotateY(0deg) translateZ(250px);
            background-image: url(assets/img/prototype.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .b {
            transform: rotateY(60deg) translateZ(250px);
            background-image: url(assets/img/thrive1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .c {
            transform: rotateY(120deg) translateZ(250px);
            background-image: url(assets/img/tintinve1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .d {
            transform: rotateY(180deg) translateZ(250px);
            background-image: url(assets/img/yojimbo1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .e {
            transform: rotateY(240deg) translateZ(250px);
            background-image: url(assets/img/tintinve_home1.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .f {
            transform: rotateY(300deg) translateZ(250px);
            background-image: url(assets/img/redisign.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .next {
            left: 5$0px;
            top: 0px;
            width: 240px;
            height: 530px;
            position: absolute;
            cursor: pointer;
            background-color: transparent;
        }
        .prev {
            left: 7em;
            top: 30px;
            width: 100px;
            height: 530px;
            color: #444;
            position: absolute;
            cursor: pointer;
            background-color: transparent;
        }
        .titulo1 {
            left: 56%;
            top: 35%;
            font-size: 3.1em;
            width: 41%;
        }
        .subtitulo {
            left: 56%;
            top: 57%;
            font-size: 1.4em;
            width: 41%;
        }
        section {
            margin-top: 0px;
        }
