@import url('https://fonts.googleapis.com/css?family=Kadwa|Allura');
/*//////////////////////---->Mobile first <-----////////////////////////////////*/

/*@font-face {
    font-family: font1;
    src: url(font1.otf);
}*/

* {
    box-sizing: border-box;
    font-family: 'Kadwa', sans-serif;
    /*font-family: 'font1', sans-serif;*/
    margin: 0px;
}

body {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "article1" "article2" "article3" "article4" "article5" "article6" "footer"
}

header {
    grid-area: header;
    position: relative;
    background-color: transparent;
    height: 96px;
}

.cuadro1 {
    width: 45px;
    height: 100%;
    margin-right: 25px;
    float: left;
    background-color: #3a86ff
}

.prompt {
    font-size: 2.75em;
    color: #FDFFFC;
    padding-left: 9px;
    margin: 0px;
    margin-top: 4px;
    display: inline-block;
    animation-name: prompt_tilt;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes prompt_tilt {
    0% {
        color: black
    }
    ;
    10% {
        color: white
    }
    ;
    90% {
        color: white
    }
    ;
    100% {
        color: black
    }
    ;
}

.logo {
    font-size: 3.1em;
    color: #FDFFFC;
    float: left;
    margin: 0px;
}

main {
    grid-area: main;
    background-color: transparent;
    height: 300px;
    position: relative;
    background-image: url(assets/vid/main_vid.mp4);
}
.main-video{
    position: absolute;
    z-index: -1;
    width: 134%;
    top: -100px;
    left: -749px;
    filter: contrast(1.6)
}
main h1{
    font-family: 'Allura', cursive;
    font-size:    19em;
    color: yellow;
    position: absolute;
    top: 110px;
    left: 385px
}

.article1 {
    grid-area: article1;
    background-color: gray;
    height: 250px;
    
}

.article2 {
    grid-area: article2;
    background-color: lightgrey;
    height: 250px;
    
}

.article3 {
    grid-area: article3;
    background-color: lightgrey;
    height: 250px;
    
}

.article4 {
    grid-area: article4;
    background-color: lightgrey;
    height: 250px;
    
}

.article5 {
    grid-area: article5;
    background-color: lightgrey;
    height: 250px;
    
}

.article6 {
    grid-area: article6;
    background-color: lightgrey;
    height: 250px;
    
}

footer {
    grid-area: footer;
}

/*////////////////////////////////////////////////*/

@media all and (min-width:600px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "main main" "article1 article1" "article2 article3" "article4 article4" "article5 article6" "footer footer"
    }
    .cuadro1 {
        width: 115px;
    }

    /*////////////////////////////////////////////////*/
    @media all and (min-width:1680px) {
        body {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "header header header" "main main main" "article1 article1 article1" "article2 article3 article3" "article4 article4 article5" "article6 article6 article6" "footer footer footer"
        }
